.small {
    width: 40%;
    margin: 2%;
    padding: 10px;
  margin-left: 40px;
  }
  
  button{
    width: 200px;
    height: 40px;
    border: none;
    background-color: rgb(136, 91, 199);
    font-size: 17px;
  }